
.Item {
    background-color: #ffebcd;
    border: 1px solid gold;
    font: 10px "Shabnam FD";
    color: #000;
    text-align: center;
    line-height: 22px;
}
.Food {
    background-color: gold;
    font: 10px "Shabnam FD";
    color: #000;
    text-align: center;
    line-height: 22px;
}
.Snake {
    background-color: #005cc5;
    font: 10px "Shabnam FD";
    color: #000;
    text-align: center;
    line-height: 22px;
}